body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

header{
    position: relative;
    display: flex;

    top: 0px;

    height: fit-content;

    text-align: center;
    justify-content: center;
}

header h1{
    margin: 0px;
    padding: 22px 0;
}

header nav ul{
    padding: 0;
}

.list_divider_pipe{
    list-style: none;
}

.list_divider_pipe li {
    display: inline-block;
}

.list_divider_pipe li + li::before{
    content: "|";
}

a{
    text-decoration: none;
}

